/*Initial*/
* {
  user-select: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, a, p, span, table {
  font-family: 'Ubuntu', sans-serif;
}

a:link, a:visited {
  color: #149dcc;
  text-decoration: none;
}


table {
  border-collapse: collapse;
  width: 100%;
  max-width: 500px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

.code {
  font-family: 'Ubuntu Mono', monospace;
}

body > div {
  margin: 50px 10vw 50px 10vw;
}

/*Body*/

#header {
  height: 100vh;
  width: 100%;
  background-image: url("images/hero.png");
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
}

#header h1 {
  /*backdrop-filter: blur(20px) saturate(130%) brightness(300%);*/
  color: rgba(255, 255, 255, 0.3);
  font-size: calc(75px + 5vw);
  margin: 0;
}

#header h1:after {
  content: " Zwiers";
  white-space: pre;
}

@media (max-width:750px) {
  #header h1:after {
    content: " Z.";
    white-space: pre;
  }
}

@media (max-width:450px) {
  #header h1:after {
    content: none;
    white-space: pre;
  }
}

#github > div {
  height: 104
  width: 100%;
  max-width: 702px;
  overflow-x: auto;
  direction: rtl;
}

#github > div > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Compatibility*/
@supports not (backdrop-filter: blur(0px)) {
}

/*Keyframes*/
@keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 0;}
}
